[submodule "pymanoid"]
	path = pymanoid
	url = https://github.com/stephane-caron/pymanoid.git
[submodule "locomotion-scenarios"]
	path = scenarios
	url = https://github.com/stephane-caron/locomotion-scenarios
